.DS_Store
Temp/
~$*
.settings/
.idea/
*.iml
*.iml.meta
.svn/

Library/
obj/
*.svd

*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.booproj
*.log
*.luaproj
*.luaproj.meta
*luas.config
*luas.config.meta
*.akd

.DS_Store
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp

.vs/
.vscode/